#gallerySlider .carousel-outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallerySlider .carousel-prev-control,
#gallerySlider .carousel-next-control {
    position: relative;
}

#gallerySlider .carousel-inner .carousel-item-end.active,
#gallerySlider .carousel-inner .carousel-item-next {
    transform: translateX(33%);
}

#gallerySlider .carousel-inner .carousel-item-start.active,
#gallerySlider .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
}

#gallerySlider .carousel-inner .carousel-item.active,
#gallerySlider .carousel-inner .carousel-item-next,
#gallerySlider .carousel-inner .carousel-item-prev {
    display: flex;
}

#gallerySlider .carousel-inner .carousel-item-end,
#gallerySlider .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#gallerySlider .carousel-centered-item {
    width: 150%;
    height: 100%;
}

#gallerySlider .carousel-inner .carousel-item-start.active {
    z-index: 0;
}

#gallerySlider .carousel-inner .carousel-item-prev {
    z-index: 1000;
}

#gallerySlider .carousel-inner .carousel-item-start.active .carousel-centered-item,
#gallerySlider .carousel-inner .carousel-item-end.active .carousel-centered-item,
#gallerySlider .carousel-inner .carousel-item-start.active .carousel-right-item {
    opacity: 0;
}

#gallerySlider .carousel-item .carousel-centered-item img {
    top: auto;
    transform: none;
}

#gallerySlider .carousel-centered-item {
    position: relative;
    z-index: 2;
    margin-left: -30px;
}

#gallerySlider .carousel-right-item {
    position: relative;
    z-index: 1;
    margin-left: -30px;
}

#gallerySlider .carousel-item .item-size {
    display: flex;
}

#gallerySlider .carousel-item img {
    transform: translateY(25%);
    height: calc(200%/3);
    width: 100%;
    object-fit: cover;
}